# EmailJS Configuration
# Create a free account at https://www.emailjs.com/
# Add your Service ID, Template ID, and Public Key below:
VITE_EMAILJS_SERVICE_ID=service_nb720bk
VITE_EMAILJS_TEMPLATE_ID=template_t5hokpd
VITE_EMAILJS_PUBLIC_KEY=cSwCyg9IzK6krCWLy
